
<div class="wideRow">
<label for="text"  class="itemNarrow">Pista a editar:</label>
<input type="text" class="itemWide" id="text" name="text" value="<%= tip.text %>" placeholder="Escriba texto de la pista" autocomplete="off"/>
</div>



<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save">
